h1 { 
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}
.profPhoto{
    width: 500px;
    height: 600px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}