h1 { 
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    
}
.profPhoto{
     width: 400px;
    height: 594px;
    float:left;

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.gpa{
    text-align: right;
}
.grad{
    text-align: left;
}
.projectPic{
    width: 300px;
    height: 300px;
}
.nav{
   background-color: black;
   color:blanchedalmond;
   overflow: hidden;
    
}
.nav a {
    float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav a:hover{
    background-color: gray;
    color: #800000;

}
.nav a:active {
    color:aquamarine
}
.resLink {
    background-color: #800000;
    color: white;
    text-decoration: none;
    display: inline;
    padding: 20px;
}
nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
nav li{
    display: inline-block;
}
.flip-card {
    background-color: #ffabaf;
    width: 500px;
    height:500px;
    border: 3px solid #800000;
    perspective:1000px;


}
.inner-fc{
    position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.back-fc{
    background-color: #f86368;
    color: black;
    transform: rotateY(180deg);
}

.front-fc{
    background-color: #ff8085;
    color: black;
}
.flip-card:hover .inner-fc {
    transform: rotateY(180deg);
}
.front-fc, .back-fc{
    position:absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}
.button {
    background-color: #ffabaf;
     border: 3px solid #800000;
     color: black;
     text-align: center;
     display: inline-block;
     font-size: 20px;
     margin: 5px, 5px;
     position: relative;
     overflow: clip;
     &::before {
        position: absolute;
        inset: 0;
        place-items: center;
        translate:0%200%;
        transition:  translate 3s ease   ;
       
}
    span {
        display: block;
        transition: translate .3s ease;
    }
&:hover{
    span{
          translate:0% -200%;
    }

    &::before{
        translate: 0% 0%;
    }
}
}

.courseButton{
    background-color: #ffabaf;
     border: 3px solid #800000;
     color: black;
     text-align: center;
     display: inline-block;
     font-size: 20px;
     margin: 5px, 5px;
}
.links{
    text-decoration: underline;
}